---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---
<BaseLayout title={pageTitle}>
    <h2>{pageTitle}</h2>
    <p>Hi, I'm Md Shahzeb, a software engineer focused on web development and developer experience.</p>
    <p>This site serves as my personal blog and digital garden.</p>
</BaseLayout>
