---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>shah.build - Blog</title>
	</head>
	<body>
		<h1>shah.build</h1>
		<p>
			I'm a software engineer based in India and currently developing a
			Developer support solution. This is my Scratchpad where I jot down
			what I learn and find amazing
		</p>

		<hr />

		<h2>Blog Posts</h2>

		<article>
			<h3>My First Post</h3>
			<p><em>Published: 2024-07-26</em></p>
			<p>This is the content of my first blog post. Welcome!</p>
		</article>

		<article>
			<h3>Learning Astro</h3>
			<p><em>Published: 2024-07-25</em></p>
			<p>Astro is pretty cool for building static sites.</p>
		</article>
	</body>
</html>
