---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="shah.build - Home">
		<h1>shah.build</h1>
		<p>
			I'm a software engineer based in India and currently developing a
			Developer support solution. This is my Scratchpad where I jot down
			what I learn and find amazing
		</p>

		<hr class="my-8 border-neutral-200" />

		<h2>Blog Posts</h2>

		<a href="/posts/post-1/" class="block hover:text-blue-600">
			<article>
				<h3>My First Post</h3>
				<p><em>Published: 2024-07-26</em></p>
				<p>This is the content of my first blog post. Welcome!</p>
			</article>
		</a>

		<a href="/posts/post-2/" class="block hover:text-blue-600">
			<article>
				<h3>Learning Astro</h3>
				<p><em>Published: 2024-07-25</em></p>
				<p>Astro is pretty cool for building static sites.</p>
			</article>
		</a>
</BaseLayout>
